@tailwind base;
@tailwind components;
@tailwind utilities;
* {
}

@layer utilities {
  ol > li::marker {
    content: counter(list-item) '  '; /* نمایش اعداد با حذف نقطه */
    font-weight: 400;
  }
  .fontfamily {
    font-family: 'Poppins', sans-serif;
  }

  .span span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .input input,
  select {
    margin-right: 4px;
    height: 38px;
    border: 1px solid #d0d5dd;
    background-color: white;
    border-radius: 8px;
  }
 
}
